					<div class="row-fluid">


						<div class="span4" id="newsList">
							<div class="row-fluid">
								<div class="newsEventBox hero-unit" style="margin-right:0;">
									<h2>
										<div class="row-fluid">
											<div class="span12">SIGN IN</div>
										</div>
									</h2>
										<div class="errormsg">
											<% if flash[:error_login] %>
												<div id="notice"><%= flash[:error_login] %></div>
											<% end %>

                                          </div>


											<%= form_for(@user_session, :url => fronts_signin_path) do |f| %>
											  <% if @user_session.errors.any? %>
												<div id="error_explanation">
												  <ul>
												  <% @user_session.errors.full_messages.each do |msg| %>
													<li><%= msg %></li>
												  <% end %>
												  </ul>
												</div>
											  <% end %>

											  <div class="field">
												<%= f.label :username %>
												<%= f.text_field :username %>
											  </div>
											  <div class="field">
												<%= f.label :password %>
												<%= f.password_field :password %>
											  </div>

											  <div class="actions">
												<%= f.submit :Login %>

											  </div>
                                              <!--<div class="morebtn">
                                              	<div class="whitebtn"><a href="#">How it works?</a></div>
                                                <div class="whitebtn"><%= link_to "Sign Up", new_front_path%></div>
                                              <div class="cl"></div>
                                              </div>-->
											<% end %>

								</div>
							</div>
						</div>
					</div>
					<div class="clearb"></div>
